#collapsible-icon{
  background-image: url("../webgallery/media/collapse-down.png");
  min-height: 50px;
  min-width: 50px;
  height: auto;
  width: auto;
}

#collapsible-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0px 20px;
  background-color: #f7f7f7;
  border: none;
  width: 60%;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  transition: initial;
}

#collapsible-button:hover {
  background-color: #ffd240;
  transform: initial;
}

.horizontal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 0px;
  padding: 20px 0px 20px 0px;
  background-color: #b8b8b8;
  border-radius: 5px;
  visibility: hidden;
}

#image-form-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  overflow: hidden;
  margin: 20px 0px 40px 0px;
}

.image-form-field {
  display:flex;
  flex-direction: column;
}

.form-field-header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin: 100px;
}

#add-image-form{
  margin-bottom: 30px;
}